# Server Port
PORT=5000

# Database Configuration (NOT provided by Render natively, use an external MySQL DB)
DB_HOST=your-aiven-host.aivencloud.com
DB_USER=avnadmin
DB_PASSWORD=your-aiven-password
DB_NAME=defaultdb

# Security
JWT_SECRET=f7e3d1c9b8a7f6e5d4c3b2a1f0e9d8c7

# CORS: Set this to your frontend URL in production
CLIENT_URL=https://blog-application-lilac-iota.vercel.app
VITE_API_URL=https://blog-api-usu4.onrender.com
